doctype html
html(lang='en')
  include ../common/head.pug
  +head("Lead Page with Yoghurt")
  body
    h1 Lead
    p 
      span #{lead.Email}
      | &nbsp
      a(href='/lead/' + lead.id + '/edit') Edit
      | &nbsp
      form(action="/lead/" + lead.id + "/delete" method="POST")
        button(type="submit") Delete
    include ../common/footer.pug
    +footer()    